body {
    background-image: url('../images/bg.jpg');
    width: auto;
    height: 900px;
}

header {
    width: auto;
    height: 100px;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
    border-left: 5px solid greenyellow;
    border-right: 5px solid greenyellow;
    background: wheat;
}

header nav img {
    width: 80px;
    margin-top: -5px;
    float: left;
    margin-left: 10px;
}

header nav ul a {
    text-decoration: none;
    color: black;
}

header nav ul a:hover {
    color: brown;
}

header nav ul li {
    list-style: none;
    display: inline;
    padding-inline: 10px;
    padding-left: 110px;
    font-size: 30px;
}

main {
    padding: 2.5%;
}

main h1 {
    color: white;
    font-size: 50px;
}

main p {
    color: white;
    font-size: large;
    width: 800px;
}

.guitar1 {
    width: 550px;
    float: right;
}

.strat {
    width: 550px;
    float: right;
    height: 800px;
    margin-left: 600px;
}

.lespaul {
    width: 550px;
    float: right;
    height: 800px;
    margin-left: 600px;
}

.SG {
    width: 550px;
    float: right;
    height: 800px;
}

.ochko {
    float: left;
    margin-top: -1500px;
    color: white;
}

.pizdec1 {
    float: left;
    margin-top: -1200px;
    font-size: 50px;
    color: white;
} 

.pizdec2 {
    float: left;
    margin-top: -500px;
    font-size: 50px;
    color: white;
}

.pizdec3 {
    float: left;
    margin-top: 300px;
    font-size: 50px;
    color: white;
}